<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".erl" #>
-module(<#= ModuleName #>).
-compile(export_all).
-msummary("<#= ModuleName #>的模块描述,这是一个普通erlang模块。").
%%-export([]).

-summary(start,1,"一个start函数").
start()->
	ok.